---
layout: default
title: Overview
---

<article id="overview">
		
	<p class="lede"><em>Prontotype</em> is a lightweight, server-side framework to help you quickly build interactive, data-driven HTML prototypes.</p>
	
	<aside class="panel">
		
		<a href="https://github.com/allmarkedup/prontotype/zipball/master" class="button download">Download Prontotype &darr;</a>
		
		<p class="version">Latest version: v1.0-beta</p>
		
		<p>Or check out the <a href="https://github.com/allmarkedup/prontotype">Github repo</a> &rarr;</p>
	
	</aside>
	
	<ul>
		<li>Quickly build linked, multi-page prototypes with realistic URLs</li>
		<li>Define reusable chunks of HTML to make prototype-wide updates quick and easy</li>
		<li>Separate your layouts from your content using powerful template inheritance</li>
		<li>Mock-up everything from simple login behaviours to complex role-based authentication scenarios</li>
		<!--<li>Add contextual notes to pages and content blocks that you can easily show/hide</li> -->
		<li>Use YAML or CSV files to define data structures that will be accessible throughout your prototype</li>
		<li>Write CSS using LESS and have it automatically compiled for use in your protoype</li>
		<li>Give your pages IDs so you can move them around easily without breaking links</li>
		<li>Use whatever frontend prototyping framework you like (<a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> is included, but anything can be used)</li>
		<li>Auto-generate navigation, forms and more using in-built macros</li>
		<li>And plenty more!</li>
	</ul>

</article>
	
<h1 id="getting-started">Getting Started</h1>
	
<article id="setup">
		
	<h2>Initial Setup</h2>
	
	<h3 id="requirements">Requirements</h3>
	
	<ul>
		<li>Linux-based web server</li>
		<li>A web server like Apache (optionally with mod_rewrite or equivalent enabled) or Nginx</li>
		<li>PHP version 5.3.1+</li>
	</ul>
	
	<h3 id="installation">Download and Installation</h3>
	
	<ol>
		<li><a href="https://github.com/allmarkedup/prontotype/zipball/master">Download</a> and unzip the latest version (or clone it from the <a href="https://github.com/allmarkedup/prontotype">Github repo</a>).</li>
		<li>Move the files to the web root of your server</li>
		<li>Optionally tweak some of the <a href="#configuration">default configuration settings</a> (but you probably don't need to!)</li>
		<li>That's it :-)</li>
	</ol>
	
	<h3 id="upgrading">Upgrading Prontotype</h3>
	
	<p>If you are upgrading from an older version of Prontotype, you should <strong>only</strong> need to replace the old <code>/app</code> directory with the <code>/app</code> directory from the latest version. Doing so will leave all your configuration, structure and data untouched. In the (hopefully unlikely!) event of you having to make other changes to upgrade between versions they will be documented here.</p>
	
	<h3 id="clean-urls">Clean URLs</h3>
	
	<p>By default, Prontotype URLs contain 'index.php' in them. If you want to remove this to make the URLs a bit prettier, then it's pretty straightforward to do so. The example below assumes you are using Apache to serve up your prototype:</p>
	
	<ol>
		<li>Change the filename of the supplied <code>htaccess.txt</code> file to <code>.htaccess</code> (Note this may make it an 'invisible' file, depending on your OS).</li>
		<li>Open the config.yml file in the root of your install and set the 'index' configuration option to an empty string (i.e. delete the default value of 'index.php')</li>
		<li>You should now have URLs without the ugly 'index.php' bit in them.</li>
	</ol>
	
	<h3>Robots.txt</h3>
	
	<p>We've assumed that you are using Prontotype for prototyping, and so you probably don't want its pages to be indexed by search engines if it is placed in a web-accessible location. So the <code>robots.txt</code> file that is included in the distribution will block all search engines by default.</p>
	
	<p>If for some reason you <em>do</em> want your prototype to be indexed, then make sure you remove (or amend) this file!</p>
		
</article>

<article id="directory-structure">
		
	<h2>The Prontotype directory structure</h2>
	
	<p>Before diving in and creating some pages, it's worthwhile getting aquainted with the directory structure Prototype uses.</p>
	
	<ul class="filetree">
		<li class="dir"><strong>app</strong> - The application code. You shouldn't need to touch this.</li>
		<li class="dir"><strong>data</strong> - Contains files of structured data that will be made accessible to your templates.</li>
		<li class="dir"><strong>structure</strong> - Contains the pages, layouts, and macros that define your prototype.
			<ul>
				<li class="dir"><strong>pages</strong> - Your page structure</li>
			</ul>
		</li>
		<li class="file"><strong>config.yml</strong> - A YAML configuration file.</li>
		<li class="file"><strong>htaccess.txt</strong> - Sample .htaccess configuration file. See the <a href="#clean-urls">section on enabling 'clean' URLs</a>.</li>
		<li class="file"><strong>index.php</strong> - The application bootstrap file.</li>
	</ul>
			
</article>

<h1 id="structure">Structuring your Prototype</h1>
	
<article id="pages">
		
	<h2>Pages</h2>
	
	<p>Pages are just files with a <code>.html</code> extension that reside in the <code>/structure/pages</code> directory.</p>
	
	<p>All requests for pages are routed into this directory, which means that (at its simplest) when Prontotype sees a request for <code>http://example.com/index.php/account/test</code> it will look for a page that lives at <code>/structure/pages/account/test.html</code>. If it doesn't find a page there it'll look for a file at <code>/structure/pages/account/test/index.html</code>, and if it <em>still</em> doesn't find anything it'll display a 404 page.</p>
	
	<p>So you can basically structure your pages directory just like you would a simple HTML site.</p>
	
	<p>However&hellip; files in the pages directory are also <strong>parsed as Twig templates</strong>. That means you can use a <a href="#tag-ref">whole bunch of template tags</a> within them to give you <a href="#data">access to data</a>, <a href="#includes">include other files</a>, <a href="#layouts">inherit layouts</a> and more.</p>
		
	<h3 id="page-ordering">Ordering pages <em>(optional)</em></h3>
	
	<p>To keep your files ordered nicely in your directories (and to control order that they are output from things like the navigation <a href="#macro-ref">macros</a>), you can also prefix the filename with a <strong>number</strong>, followed by a <strong>dash, underscore or full stop</strong> (period). This ordering information will not show up in the URL.</p>
	
	<p>For example:</p>
	
<pre><code>/site/pages/about/<strong>1-</strong>company.html  ==>	http://example.com/index.php/about/company
		
/site/pages/contact/<strong>3-</strong>sales.html  ==>	http://example.com/index.php/contact/sales
</code></pre>
	
	<h3 id="page-ids">Page IDs <em>(optional)</em></h3>
	
	<p>Lastly, you can give pages unique IDs, and use these to build links to pages so that if you move the pages around (which happens a lot when prototyping!) you won't have to update all your links.</p>
	
	<p>You can give a page an ID by adding an <strong>alphanumeric string</strong> (underscores and dashes are ok in there too) <strong>surrounded by square brackets</strong> into the filename. You can also follow this by a <strong>dash, underscore or full stop</strong> (period) to help seperate it from the rest of the filename, if you wish.</p>
	
	<p>The ID string, like the ordering prefix, will not show up in the URL. So for example:</p>

	<p>For example:</p>
	
<pre><code>/site/pages/about/<strong>[c123]-</strong>company.html	==>	http://example.com/index.php/about/company (id = <strong>c123</strong>)
		
/site/pages/contact/<strong>[spg]-</strong>sales.html	==>	http://example.com/index.php/contact/sales (id = <strong>spg</strong>)
</code></pre>
	
	<p>Once your page has an ID, you can always <strong>print its URL into your template</strong> by using:</p>
	
	<pre><code><strong>{{ pages.link('PAGE-ID') }}</strong></code></pre>
	
	<p>Where <code>PAGE-ID</code> is the ID of the page you are interested in.</p>
	
	<h3>Bringing it all together</h3>
	
	<p>You can of course mix ordering with pages ids - so combining the examples above we would have:<p>
		
<pre><code>/site/pages/about/<strong>1-[c123]-</strong>company.html	==>	http://example.com/index.php/about/company (id = <strong>c123</strong>)
		
/site/pages/contact/<strong>3-[spg]-</strong>sales.html	==>	http://example.com/index.php/contact/sales (id = <strong>spg</strong>)
</code></pre>

<p>This allows you to have page IDs for the pages that need them and still keep your pages ordered correctly within your site.</p>
		
</article>


<article id="layouts">
		
	<h2>Layouts</h2>
		
	<p>Prontotype uses <a href="http://twig.sensiolabs.org/">Twig</a> for its templates, which allows it to support a powerful <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">template inheritance</a> model. This means that you can define <strong>shared layouts</strong> that have <strong>placeholders for 'blocks' of content</strong> in them. Your pages can then be set up to 'inherit' a layout, so they only need to specify the content to be placed into the placeholder area.</p>
	
	<p>By convention, layouts for your prototype should be stored in a folder called '<strong>layouts</strong>' within your <code>/structure</code> directory. You will have to create this folder if you opt to use layouts in your prototype.</p>
	
	<p>You can specify which template your page should extend by using the <code>{% extends %}</code> tag. Below is an example of how this works - note that the path you provide should be <strong>relative to the <code>/structure</code> directory</strong>.</p>
	
	<h3>An example of using a layout:</h3>
	
	<h4><strong>Layout file:</strong> <code>/structure/layouts/example-layout.html</code></h4>
	
<pre><code data-language="html">&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;utf-8&quot;&gt;
  &lt;title&gt;Prontotype Example&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;

  &lt;div class=&quot;header&quot;&gt;
    &lt;h1&gt;Prontotype&lt;/h1&gt;
  &lt;/div&gt;

  &lt;div class=&quot;content&quot;&gt;

  <strong>{% block content %}</strong>
	
  &lt;p&gt;Default content&lt;/p&gt;
		
  <strong>{% endblock content %}</strong>

  &lt;/div&gt;

  &lt;div class=&quot;footer&quot;&gt;
    &lt;p&gt;Powered by Prontotype.&lt;/p&gt;
  &lt;/div&gt;

&lt;/body&gt;	
&lt;/html&gt;
</code></pre>
	
	<p class="note">Note the area delinated with the block/endblock named tags - this is the placeholder section that your page content will be dropped into. Any text between these tags will be used as default content if you do not provide content for that area in your page file.</p>
	
	<h4><strong>Page file (prototype homepage):</strong> <code>/structure/pages/index.html</code> </h4>
	
	
<pre><code data-language="html"><strong>{% extends &quot;layouts/example-layout.html&quot; %}</strong>

<strong>{% block content %}</strong>

&lt;h1&gt;Content goes here&lt;/h1&gt;
&lt;p&gt;This is some example content&lt;/p&gt;

<strong>{% endblock content %}</strong>
</code></pre>
	
	
	<p>You can read more about <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">template inheritance on the Twig website</a>. It's a really powerful concept that can really speed up updating your prototype so it's worth getting to grips with!</p>	
		
</article>

	
<article id="includes">
		
	<h2>Includes</h2>
		
	<p>Includes are HTML files that contain reusable snippets of code or content, and that can be pulled in and included anywhere on your site. They are parsed as Twig templates so can use any of the available template tags within them.</p>
	
	<p>By convention, includes are stored in a folder called 'includes' within the <code>/structure</code> directory, and can be pulled into your pages or templates using the <code>{% include %}</code> tag. For example, to include a header file that exists at <code>/structure/includes/header.html</code> you could do this:</p>
	
<pre><code data-language="html">&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;utf-8&quot;&gt;
  &lt;title&gt;Prontotype Example&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;

  <strong>{% include "includes/header.html" %}</strong>

  &lt;div class=&quot;content&quot;&gt;
    &lt;p&gt;Some content&lt;/p&gt;
  &lt;/div&gt;

&lt;/body&gt;	
&lt;/html&gt;
</code></pre>
	
	<p>Note that like the <a href="#layouts">extends</a> tag, the path you provide should be relative to the <code>/structure</code> directory.</p>
	
</article>

<article id="macros">
	
	<h2>Macros</h2>

	<p>Macros are little helper 'functions' that you can easily define once and then use throughout your templates to make sure that common HTML snippets stay editable in one place. They are a bit like <em>page includes</em>, except that they can use optional parameters to adjust the HTML or content output on a per-use basis, which makes them very flexible.</p>
	
	<p>In fact, if you've used any of the <a href="#assets">asset</a>, <a href="#navigation">navigation</a> or <a href="#forms">form</a> helpers then you've already seen some of the built-in macros Prontotype comes with.</p>
		
	<h3>Defining Macros</h3>
		
	<p>Macros should be definined in an html file and placed somewhere within your <code>/structure</code> directory - the convention is to place them in <code>/structure/macros</code> but you can place them wherever you like. Each file can contain as many macro definitions as you like.</p>
	
	<p>An example macro for generating a hCard might look like this:</p>
	
<pre><code data-language="html"><strong>{% macro vcard(name, url, tels) %}</strong>
&lt;div class=&quot;vcard&quot;&gt;
  &lt;a class=&quot;url fn&quot; href=&quot;<strong>{{ url }}</strong>&quot;&gt;<strong>{{ name }}</strong>&lt;/a&gt;
  <strong>{% for t in tels %}</strong>
  &lt;span class=&quot;tel&quot;&gt;
    &lt;span class=&quot;type&quot;&gt;<strong>{{ t.type }}</strong>&lt;/span&gt;: &lt;span class=&quot;value&quot;&gt;<strong>{{ t.number }}</strong>&lt;/span&gt;
  &lt;/span&gt;
  <strong>{% endfor %}</strong>
&lt;/div&gt;
<strong>{% endmacro %}</strong>
</code></pre>
	
	<p>Arguments to macros are always optional, and macros can reference other macros in the same file using the special <code>_self</code> variable. You can read more about defining macros in the <a href="http://twig.sensiolabs.org/doc/tags/macro.html">Twig documentation</a> which goes into a lot more detail.</p>
		
	<h3>Importing Macros</h3>
		
	<p>Before macros can be used in your pages or layout templates, you first need to <a href="http://twig.sensiolabs.org/doc/tags/import.html">import them</a>. You just need to add the following line to the top of your page, layout template or include file:</p>
	
	<pre><code><strong>{% import 'path/to/macro/file.html' as yourMacros %}</strong></code></pre>

	<p>Where <code>yourMacros</code> can be a variable name of your choosing, and the defined path is relative to your <code>/structure</code> directory. You'll then be able to run any macros defined in the imported file by referencing them by name like so (assuming a macro name of <code>doSomething</code>):</p>
	
	<pre><code><strong>{{ yourMacros.doSomething( 'with_this_argument' ) }}</strong></code></pre>
		
	<h3>Built-in Macros</h3>
	
	<p>Prontotype comes with number of built-in macros to help with <a href="#assets">working with assets</a>, <a href="#navigation">generate navigation</a> and <a href="#forms">build forms</a>. The macro definition files live in <code>/app/views/PT/macros</code> but if you need to edit them it is recommended that you <strong>don't</strong> change them here: instead see the <a href="#overriding-defaults">cookbook entry on overriding system defaults</a> for a way to do this that won't break if you update Prontotype to a newer version.</p>
		
</article>

<h1 id="functionality">Functionality</h1>

<article id="data">
	
	<h2>Working with Data</h2>
	
	<p>Prontotype provides a simple way to define structured data that can be used in your prototype. Data files are kept in the <code>/data</code> directory and can be defined in YAML or CSV format.</p>
	
	<p>The data in these files can be accessed from within your prototype's pages and layouts using the <code>{{ data }}</code> template tag. This uses the Twig 'dot notation' to access the data structure defined in your files and prints out the appropriate value. The general format of this is as follows:</p>
	
	<pre><code>{{ data.<strong>FILENAME</strong>.<strong>DATA.PATH.IN.FILE</strong> }}</code></pre>
	
	<p>Where <code>FILENAME</code> is the name of the data file you want to access (without the filename) and <code>DATA.PATH.IN.FILE</code> is the dot-notation path of the data variable you wish to access within that file. So an example might be:</p>
	
<pre><code data-language="html"><strong>{{ data.mydata.people.bob.email }}</strong>  # outputs 'bob@thebuilder.com'

# or you can use it in control structures too:

<strong>{% if data.mydata.people.bob.role == 'builder' %}</strong>
  &lt;p&gt;You are a builder!&lt;/p&gt;
<strong>{% endif %}</strong>
</code></pre>
	
	<p class="note">Note: If you have two files with the same filenames but in different formats (i.e. mydata.yml and mydata.csv) then Pronotype will attempt to merge the contents of the two files.</p>
	
	<p>To help explain that a bit better, let's look at some examples for both YAML and CSV format data files.</p>
	
	<h3>YAML data</h3>
	
	<p><a href="http://en.wikipedia.org/wiki/YAML">YAML</a> is a straightforward, human-readable way to represent structured data in plain text files. Prontotype will make data in any YAML files (with a <strong>.yml</strong> file extension) in the <code>/data</code> directory available to your templates. You can use any valid YAML syntax to represent your data.</p>
	
	<h4>Example YAML file: <code>/data/example.yml</code></h4>
	
<pre><code data-language="shell"><strong>people:</strong>
  <strong>bob:</strong>
    <strong>first_name:</strong> Bob
    <strong>last_name:</strong> Builder
    <strong>email:</strong> bob@thebuilder.com
  <strong>pat:</strong>
    <strong>first_name:</strong> Pat
    <strong>last_name:</strong> Postman
    <strong>email:</strong> pat@thepostman.com

<strong>links:</strong>
  <strong>- url:</strong> http://example.com
    <strong>text:</strong> An example 
  <strong>- url:</strong> http://test.com
    <strong>text:</strong> A test link
</code></pre>

<h4>Usage: <code>/structure/pages/example.html</code></h4>
<pre><code data-language="html">{% set bob = <strong>data.example.people.bob</strong> %}
&lt;p&gt;Bob&#x27;s first name is: <strong>{{ bob.first_name }}</strong> and his email is <strong>{{ bob.email }}</strong>&lt;/p&gt;
&lt;p&gt;These are the links:&lt;/p&gt;
&lt;ul&gt;
  {% for link in <strong>data.example.links</strong> %}
    &lt;li&gt;&lt;a href=&quot;<strong>{{ link.url }}</strong>&quot;&gt;<strong>{{ link.text }}</strong>&lt;/a&gt;&lt;/li&gt;
  {% endfor %}
&lt;/ul&gt;
</code></pre>

	<h3>CSV data</h3>
	
	<p>Prontotype will parse CSV files in your <code>/data</code> directory and make them available to your templates. By default Prontotype expects your CSV data to be formatted with a <strong>header row of column names</strong>, one of which should be <strong>'id'</strong>. This 'id' column should be used to define IDs for each row. These IDs can then be used to reference individual rows.</p>
	
	<p>Of course CSVs can only represent a very straightforward array-style datatype - if need more complex data structures then you will need to use YAML files to represent your data.</p>
	
	<p class="note">If your data is specified without column headers or IDs you can <a href="#configuration">configure Prontotype</a> to give you access to the CSV data using numeric keys instead. You can also specify custom delimiter, enclosure and escape characters if required to match your CSV file's setup.</p>
	
	<h4>Example CSV file:  <code>/data/example2.csv</code></h4>
	
<pre><code>"id","first_name","last_name","email"
"bob","Bob","Builder","bob@thebuilder.com"
"pat","Pat","Postman","pat@thepostman.com"
</code></pre>

<h4>Usage: <code>/structure/pages/example2.html</code></h4>
<pre><code data-language="html">{% set bob = <strong>data.example2.bob</strong> %}
&lt;p&gt;Bob&#x27;s first name is: <strong>{{ bob.first_name }}</strong> and his email is <strong>{{ bob.email }}</strong>&lt;/p&gt;
&lt;p&gt;These are the links:&lt;/p&gt;
&lt;ul&gt;
  {% for person in <strong>data.example2</strong> %}
    &lt;li&gt;Name: <strong>{{ person.first_name }}</strong> <strong>{{ person.last_name }}</strong>&lt;/li&gt;
  {% endfor %}
&lt;/ul&gt;
</code></pre>

	<h3>Accessing your data via JavaScript</h3>
	
	<p>There are times when you might want to access the data structures you've defined from your frontend JavaScript code. Prontotype makes this easy by giving you a URL for each data file that returns a JSON representation of that data. This allows you to make a Ajax request to that URL to access the data.</p>
	
	<p>The URL for each data file looks like this:</p>
	
	<pre><code>http://example.com/<strong>&lt;data_trigger&gt;</strong>/<strong>&lt;datafile_name&gt;</strong></code></pre>
	
	<p>Where <code>&lt;data_trigger&gt;</code> is as defined in your config file in the 'triggers' section (defaults to <code>_data</code>) and <code>&lt;datafile_name&gt;</code>  is the name of the data file (without the file extension) that you wish to access.</p>
	
	<p>So, using the default configuration, to get a JSON representation of the data in a YAML file <code>/data/posts.yml</code> you would make an Ajax request to <code>http://example.com/_data/posts</code>.</p>
	
	<p>You can also take this a bit further. If you don't want all of the data in a file returned, you can drill down into your data by appending extra segments onto the URL to match your data structure, and only the matching subset of data will be returned. For instance, taking the YAML example data file below:</p>
	
	<h4>Example posts data file <code>/data/blog.yml</code></h4>
	
<pre><code><strong>title:</strong> My Really good blog
<strong>posts:</strong>
  <strong>post-1:</strong>
    <strong>title:</strong> A blog post
    <strong>body:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  <strong>post-2:</strong>
    <strong>title:</strong> Another blog post
    <strong>body:</strong> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
</code></pre>
	
	<p>You could would be able to access a JSON representation of the first blog post's ('post-1') data at the URL <code>http://example.com/_data/blog/posts/post-1</code>, and the title of that post at <code>http://example.com/_data/blog/posts/post-1/title</code></p>
	
</article>

<article id="assets">
	
	<h2>Asset Helpers</h2>

	<p>Prontotype includes a few helper <a href="#macros">macros</a> (i.e. functions) to make working with static assets - CSS/JS/images - a little bit easier. It also comes bundled with <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> (if that is your thing) to help kick-start your frontend code.</p>
	
	<p>To use any of the assets macros in your pages or layout templates, you first need to <a href="http://twig.sensiolabs.org/doc/tags/import.html">import them</a>. All that involves is including the following line at the top of your page, layout template or include file:</p>
	
	<pre><code data-language="html"><strong>{% import 'PT/macros/assets.html' as assets %}</strong></code></pre>

	<p>And then you can use any of the assets macros in your templates using the <code>{{ assets }}</code> variable, as detailed below:</p>
	
	<h3>Including Twitter Bootstrap</h3>
	
	<p>Once you've imported the assets macros (see above), then you can easily include Twitter Bootstrap CSS and JS files into your page using the following tags:</p>
		
<pre><code data-language="html"><strong>{{ assets.bootstrap }}</strong>  &lt;!-- Generates &lt;link&gt; and &lt;script&gt; tags to include both the Bootstrap CSS and JS --&gt;
	
<strong>{{ assets.bootstrap(true) }}</strong>  &lt;!-- As above, but includes Bootstrap 'responsive' CSS file too --&gt;

<strong>{{ assets.bootstrap_js() }}</strong>  &lt;!-- Generate a &lt;script&gt; tag to include the Bootstrap JS file --&gt;

<strong>{{ assets.bootstrap_css() }}</strong>  &lt;!-- Generate a &lt;link&gt; tag to include the Bootstrap CSS file --&gt;

<strong>{{ assets.bootstrap_css(true) }}</strong>  &lt;!-- As above, but includes Bootstrap 'responsive' CSS file too --&gt;
</code></pre>
	
	<p class="note">Note that these tags will not include jQuery, so if you are using the Bootstrap JS you will need to included that in your page first.</p>
	
	<h3>Using LESS to write your stylesheets</h3>
	
	<p>Prontotype has built in support for generating CSS from <a href="http://lesscss.org/">LESS</a> files. It does this on the fly, so you can use LESS files instead of 'straight' CSS and have them automatically compiled at runtime into valid CSS.</p>
	
	<p>All you need to do is create your LESS files in a location of your choosing within your project (just make sure they are using the <strong>.less</strong> file extension!), and then just use the following tag to generate a <code>&lt;link&gt;</code> tag that will automagically point to the rendered stylesheet:</p>
	
<pre><code data-language="html"><strong>{{ assets.stylesheet('/path/to/your/file.less') }}</strong>
&lt;!-- Outputs: &lt;link rel=&quot;stylesheet&quot; href=&quot;/path/to/generated/file.css&quot; type=&quot;text/css&quot; media=&quot;all&quot;&gt; --&gt;
</code></pre>

<p>You can also optionally specify a <strong>media type</strong> as the second parameter (defaults to 'all' if not specified):</p>

<pre><code data-language="html"><strong>{{ assets.stylesheet('/path/to/your/file.less', 'screen') }}</strong>
&lt;!-- Outputs: &lt;link rel=&quot;stylesheet&quot; href=&quot;/path/to/generated/file.css&quot; type=&quot;text/css&quot; media=&quot;screen&quot;&gt; --&gt;
</code></pre>
	
</article>

<article id="navigation">
	
	<h2>Generating Navigation</h2>
	
	<p>In order to help keep your navigation up-to-date as you add/remove/move pages, Prontotype comes with some built-in navigation <a href="#macros">macros</a> to generate navigation for you.</p>
	
	<p>To use any of the navigation generator macros in your pages or layout templates, you first need to <a href="http://twig.sensiolabs.org/doc/tags/import.html">import them</a>. You can do that by including the following line at the top of your page, layout template or include file:</p>
	
	<pre><code data-language="html"><strong>{% import 'PT/macros/navigation.html' as nav %}</strong></code></pre>
	
	<p>For all generated navigation, the page 'name' displayed <strong>will be derived from the filename</strong>. This is done by converting underscores and dashes in the filename to spaces, and capitalising the individual words. The only exception to this is the homepage and the 'index' page in each section. The names used for these are defined globally in the <a href="#configuration">configuration</a> file, and can be overridden if required.</p>
	
	<h3>Generating a page list</h3>
	
	<p>The <code>{{ nav.page_tree() }}</code> macro will generated a nested list of pages within your site, ideal for generating those snazzy dropdown menus that you love so much. It accepts a JSON-style hash of parameters to help you configure its behaviour, with the available configuration options as follows:</p>
	
	<table>
		<tr>
			<th>Key</th>
			<th>Description</th>
			<th>Default</th>
		</tr>
		<tr>
			<td class="key">list_type</td>
			<td class="desc">What to use as the HTML list type used for the rendered lists (<strong>ul </strong>or <strong>ol</strong>)</td>
			<td class="default">ul</td>
		</tr>
		<tr>
			<td class="key">id</td>
			<td class="desc">The value of the <strong>id</strong> attribute to add to the outermost list element</td>
			<td class="default na">N/A</td>
		</tr>
		<tr>
			<td class="key">class</td>
			<td class="desc">The value of the <strong>class</strong> attribute to add to the outermost list element</td>
			<td class="default na">N/A</td>
		</tr>
		<tr>
			<td class="key">note</td>
			<td class="desc">The value of the <strong>data-note</strong> attribute to add to the outermost list element. Used for <a href="#notes">attaching notes</a> to the navigation</td>
			<td class="default na">N/A</td>
		</tr>
		<tr>
			<td class="key">start_from</td>
			<td class="desc">The URL path of the page from which to generate the navigation from. Only subpages of the page identified by this URL will be displayed</td>
			<td class="default">/</td>
		</tr>
		<tr>
			<td class="key">depth</td>
			<td class="desc">How many levels of navigation it should display.</td>
			<td class="default">&infin;</td>
		</tr>
		<tr>
			<td class="key">hide_index</td>
			<td class="desc">Whether or not it should display a link for the 'index' page in each section</td>
			<td class="default">false</td>
		</tr>
	</table>
	
	<p>The <strong>list item for the current page</strong> will automatically have a class of <code>current</code> added to it, and the <strong>parent list items of the current page</strong> will have a class of <code>parent</code> added to them.</p>
	
	<h4>Example of use:</h4>
	
<pre><code data-language="html"><strong>{{ nav.page_tree({ start_from: 'about', depth: 2, id: 'my-nav', hide_index: true }) }}</strong>
&lt;!-- outputs: --&gt;
&lt;ul id=&quot;my-nav&quot;&gt;
  &lt;li&gt;&lt;a href=&quot;/about&quot;&gt;Overview&lt;/a&gt;&lt;/li&gt;
  &lt;li class=&quot;parent&quot;&gt;&lt;a href=&quot;/about/company&quot;&gt;Company&lt;/a&gt;
    &lt;ul&gt;
      &lt;li class=&quot;current&quot;&gt;&lt;a href=&quot;/about/company/people&quot;&gt;People&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;/about/company/history&quot;&gt;History&lt;/a&gt;&lt;/li&gt;
      &lt;li&gt;&lt;a href=&quot;/about/company/jobs&quot;&gt;Jobs&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/li&gt;
&lt;/ul&gt;
</code></pre>

</article>

<article id="forms">
	<h2>Building Forms</h2>
	<p>Documentation coming soon.</p>
	<p>In the meantime - having a look in the form macros file located at <code>/app/views/PT/macros/forms.html</code> will give you a good idea of what is available to use!</p>
</article>

<article id="users">
	
	<h2>Users and Logins</h2>
	
	<p>Prontotype features a simple but flexible system to mock-up user authentication scenarios.</p>
	
	<h3>Defining Users <em>(optional)</em></h3>
	
	<p>You can define users and assign them properties like first name, last name and role(s) in a special file data file at <code>/data/users.yml</code>. An example of this file comes with Prontotype, and looks like this:</p>
	
	<h4>Example users file: <code>/data/users.yml</code></h4>

<pre><code><strong>user:</strong>
  <strong>username:</strong> user-example
  <strong>name:</strong> Edward Xample
  <strong>role:</strong> user
    
<strong>admin:</strong>
  <strong>username:</strong> admin-example
  <strong>name:</strong> Ellie Xample
  <strong>role:</strong> admin
</code></pre>
	
	<p>You can append to or replace these as needed - and properties such as username, name, role are entirely optional, and can be added to as you see fit. The only thing to note is that they each have a unique 'key' (such as <strong>user</strong> or <strong>admin</strong>) to reference them by. This is required if you want to use this user definition file.</p>
	
	<h3>The 'user' variable</h3>
		
	<p>Your pages and templates will all have access to a special <code>user</code> variable. The value of this will be null (empty) if there is no 'logged in' user. So to only show content to 'logged in' users you can do the following:</p>
	
<pre><code data-language="html"><strong>{% if user %}</strong>&lt;p&gt;Display some logged-in-only content here&lt;/p&gt;<strong>{% endif %}</strong></code></pre>
	
	
	<p>If you have defined one or more users (see above) and one is 'logged in' then it will be set to the definition of that user. So (using the example users file above) if the '<strong>admin</strong>' user has logged in, then you could do the following in your pages and templates:</p>
	
<pre><code data-language="html"><strong>{{ user.name }}</strong> &lt;!-- prints out &#x27;Ellie Xample&#x27; --&gt;
<strong>{{ user.username }}</strong> &lt;!-- prints out &#x27;admin-example&#x27; --&gt;
<strong>{% if user.role == 'admin' %}</strong>&lt;p&gt;Display some admin-only content here&lt;/p&gt;<strong>{% endif %}</strong>
</code></pre>

	<p>If you <em>haven't</em> defined any users (or you don't specify one when logging them in), you can <strong>still use the login system</strong> - your <code>user</code> template variable will return <code>true</code> instead of a user object when logged in. So you can still use an 'if' statement to determine whether to hide/show content on depending on whether the anonymous user is logged in or not.</p>
	
	<h3>Logging in</h3>
	
	<p>To simulate a user logging into the system, you need to either make a POST or GET request to the <strong>login url</strong>. The login URL looks like this:</p>
	
	<pre><code>http://example.com/<strong>&lt;login_trigger&gt;</strong></code></pre>
	
	<p>Where <code>&lt;login_trigger&gt;</code> is as defined in your config file in the 'triggers' section (defaults to <code>_login</code>).</p>
	
	<p>You can optionally specify a <code>user</code> parameter with the id of a user you've defined in your <code>/data/users.yml</code> file, and/or a <code>redirect</code> parameter to let Prontotype know which URL you'd like to redirect to afterwards. If you don't specify a <code>redirect</code> parameter you user will be redirected to the homepage of your site after login.</p>
	
	<h4>Example: login link</h4>
	
<pre><code data-language="html">&lt;!-- Logs in the 'admin' user and redirects to /admin-area/welcome --&gt;
&lt;a href=&quot;/_login?user=admin&redirect=/admin-area/welcome&quot;&gt;Admin login - click here&lt;/a&gt; 
</code></pre>

	<h4>Example: login form</h4>
	
<pre><code data-language="html">&lt;!-- Logs in the 'admin' user and redirects to /admin-area/welcome --&gt;
&lt;form method=&quot;POST&quot; action=&quot;/_login&quot;&gt;
  &lt;input type=&quot;hidden&quot; name=&quot;user&quot; value=&quot;admin&quot;&gt;
  &lt;input type=&quot;hidden&quot; name=&quot;redirect&quot; value=&quot;/admin-area/welcome&quot;&gt;
  &lt;button type=&quot;submit&quot;&gt;Log in&lt;/button&gt;
&lt;/form&gt;
</code></pre>

	<h3>Logging out</h3>
	
	<p>To log out you just need to send the user to the <strong>logout URL</strong>, which looks like this:</p>
	
	<pre><code>http://example.com/<strong>&lt;logout_trigger&gt;</strong></code></pre>
	
	<p>Where <code>&lt;logout_trigger&gt;</code> is as defined in your config file in the 'triggers' section (defaults to <code>_logout</code>). You can optionally specify a <code>redirect</code> parameter to tell Prontotype where to redirect to after logout (default is to go to the homepage).</p>
	
	<h4>Example: logout link</h4>
	
<pre><code data-language="html">&lt;!-- Logs out the current user and redirects to /logout-success --&gt;
&lt;a href=&quot;/_logout?redirect=/logout-success&quot;&gt;Log out&lt;/a&gt; 
</code></pre>
	
	
</article>

<!--
<article id="notes">
	<h2>Notes</h2>
	<p>Documentation coming soon.</p>
</article>

<article id="toolbar">
	<h2>The Prontotype Toolbar</h2>
	<p>Documentation coming soon.</p>
</article>
-->

<article id="short-urls">
	
	<h2>Short URLs</h2>
	
	<p>Any pages that you have <a href="#page-ids">assigned an ID to</a> can be linked to via a short URL. The short URLs will take the following form:</p>
	
	<pre><code>http://example.com/<strong>&lt;shorturl_trigger&gt;</strong>/<strong>&lt;page_id&gt;</strong></code></pre>
	
	<p>Where <code>&lt;shorturl_trigger&gt;</code> is as defined in your config file (defaults to <code>_p</code>) and <code>&lt;page_id&gt;</code>  is the ID you've given to your page.</p>
	
	<p>So (using the default configuration settings) an example short url for a page would be:</p>
	
	<pre><code>/structure/pages/about/<strong>[comp]-</strong>company.html  ==>  http://example.com/index.php/_p/comp</code></pre>
	
	
	<p>Sharing these short links as opposed to the full page URLs is useful because even if you move the page around while the prototype is being constructed, <strong>the short URL will always route to the correct page</strong>. And obviously the links are shorter and so (probably!) easier to remember.</p>
	
	<p>Don't forget your URLs will be even shorter if you use an <code>.htaccess</code> file to <a href="#clean-urls">enable clean URLs</a> and remave the <code>index.php</code> from the URL.</p>
		
</article>

<article id="custom-routing">
	
	<h2>Custom routing</h2>
	
	<p>Prontotype has a custom routing system that lets you use a simple pattern matching syntax to effectively 'rewrite' (<strong>not</strong> redirect!) URLs.</p>
	
	<p>Custom routing definitions are defined under the 'routing' section in your <code>config.yml</code> file, and take the format:</p>
	
	<pre><code>"url/path/to/match" : "url/path/of/page/to/display"</code></pre>
	
	<p>You can define as many custom routes as you like; the first matched route (working from top to bottom) is the one that will be used.</p>
	
	<h3>Pattern matching</h3>
	
	<p>Just matching one URL and rendering a different page is probably not terribly useful. But Prontotype lets you use a number of <strong>wildcard tokens</strong> in your routing definitions that make this a much more powerful proposition.</p>
	
	<p>The following tokens are available to use in the 'match' side of you route definitions:</p>
	
	<table>
		<tr>
			<th>Token</th>
			<th>Description</th>
		</tr>
		<tr>
			<td class="key">(:any)</td>
			<td class="desc">Matches any string of characters apart from those containing a slash (/) - i.e. will match any string within a single URL 'segment'</td>
		</tr>
		<tr>
			<td class="key">(:num)</td>
			<td class="desc">Matches any string of numbers</td>
		</tr>
		<tr>
			<td class="key">(:all)</td>
			<td class="desc">Matches all characters, including slashes, so will match multiple URL segments</td>
		</tr>
		<tr>
			<td class="key">(:id=PAGEID)</td>
			<td class="desc">Matches the URL path for the page identified by the id <strong>PAGEID</strong> ( <a href="#page-ids">More on page IDs here</a>). This token (unlike the others above) can also be used in the right-hand (the 'page to display') side of your routing definition.</td>
		</tr>
	</table>
	
	<p>You can use as many or as few of these as you like in each of the 'match' (left hand) side part of your routing definitions. Some examples might look like:</p>
	
<pre><code><strong>routes:</strong>
# --------------------------------------
# Matches: <b>posts/this-is-a-post</b>
# Doesn't match: <b>posts/this-is-a-post/edit</b>
# --------------------------------------
  <strong>"posts/(:any)" : "posts/example"</strong>
  
# --------------------------------------
# Matches: <b>pages/example/test/123/hello</b>
# --------------------------------------
  <strong>"pages/(:all)" : "pages/hello-world"</strong>

# --------------------------------------
# Matches: <b>people/1234/details</b>
# Doesn't match: <b>people/bob/details</b>
# --------------------------------------
  <strong>"people/(:num)/(:any)" : "people/profile"</strong>

# --------------------------------------
# Matches: <b>url/for/page/with/id/tweetpage</b>
# --------------------------------------
  <strong>"(:id=tweetpage)" : "people/tweets"</strong>
</code></pre>

	<h3>Backreferences</h3>
	
	<p>You can also use a simple <strong>backreference syntax</strong> to reference the url fragments matched by the wildcard tokens in the 'page to route to' (i.e. right hand side) part of your routing definitions. The URL fragment matched by each token can be referenced by a dollar sign ($) followed by its index number. So the fragemnt matched by first token can be referenced by <code>$1</code>, the second by <code>$2</code> etc. As an example:</p>

<pre><code><strong>routes:</strong>
# --------------------------------------
# Matches: <b>posts/123/tags/unicorn</b> and displays the page at: <b>tags/unicorn</b>
# --------------------------------------	
  <strong>"posts/(:num)/tags/(:any)" : "tags/$2"</strong>
</code></pre>

	<h3>An example</h3>
	
	<p>As an example of what you can do with this, let's image that you've got a YAML data file set up that contains an array of blog posts data within it. It might look a bit like this:</p>
	
	<h4>Blog posts data file:<code>/data/blog.yml</code></h4>
	
<pre><code><strong>posts:</strong>
  <strong>post-1:</strong>
    <strong>title:</strong> A blog post
    <strong>body:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  <strong>post-2:</strong>
    <strong>title:</strong> Another blog post
    <strong>body:</strong> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
</code></pre>
	
	<p>You've also got a page set up to display blog posts. That might look a bit like this:</p>
	
	<h4>Blog post display page: <code>/structure/blog/post.html</code></h4>
	
<pre><code data-language="html">&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;utf-8&quot;&gt;
  &lt;title&gt;My blog post&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;

<strong>{% if data.blog.posts[url.segment.2] %}</strong>

  <strong>{% set post = data.blog.posts[url.segment.2] %}</strong>
  &lt;div class=&quot;content&quot;&gt;
    &lt;h1&gt;<strong>{{ post.title }}</strong>&lt;/h1&gt;
    &lt;div class=&quot;body&quot;&gt;
      <strong>{{ post.body }}</strong>
    &lt;/div&gt;
  &lt;/div&gt;

<strong>{% else %}</strong>

  &lt;p&gt;No blog post found, sorry!&lt;/p&gt;

<strong>{% endif %}</strong>

&lt;/body&gt;	
&lt;/html&gt;
</code></pre>

<p class="note">Note that the <code>url.segment.2</code> tag is returning the value of the third (it's zero-indexed!) 'segment' of the URL.</p>

	<p>Now all we need to do is set up a custom route to route all requests for a blog post into our blog post display page, and then our page will automagically go and fetch the data for the appropriate post from the YAML file and display it in our page.</p>
	
	<h4>Route definition: <code>/config.yml</code></h4>
	
<pre><code><strong>routes:</strong>	
  <strong>"posts/(:any)" : "blog/post"</strong>
</code></pre>
	
	<p><strong>And that's it!</strong> Now requests like <code>http://example.com/posts/post-1</code> will result in our <code>/structure/blog/post.html</code> page being rendered, which will then dynamically pull in data for the <strong>post-1</strong> post (as defined in our YAML file) and display it!</p>

</article>

<article id="authentication">
	<h2>Password-protecting your Prototype</h2>
	
	<p>If your prototype is accessible via the internet, then often you'll want to limit access to a select group of people. Prontotype makes this easy to do - all you need to do is add a <strong>username</strong> and <strong>password</strong> into your <code>config.yml</code> file, under <strong>authentication</strong> heading.</p>
	
	<p>So the appropriate section of your configuration file may look like this:</p>
	
<pre><code class="snippet" data-language="shell"><strong>authenticate:</strong>
  <strong>username:</strong> bob
  <strong>password:</strong> bu1ld3r
</code></pre>
	
	<p>When people then try to access the prototype they will be redirected to a login page, where they will need to enter these details in order to gain access to the site.</p>
	
</article>

<h1 id="configuration">Configuration</h1>

<article>
		
	<p>Prontotype's default configuration is fine for a lot of use cases. But if you do want to tweak any of the settings, you can do so in the YAML configuration file <code>config.yml</code> found in the root of your Prontotype install.</p>

	<p>Here's a brief overview of the settings, what they do and their default values:</p>
	
<pre><code class="snippet" data-language="shell">#==================
# index
# -----------------
# Set to an empty string if using mod_rewrite or the nginx equivalent
#==================
<strong>index:</strong> index.php

#==================
# cache_path
# -----------------
# Specify a path to a writeable directory (relative to the Prontotype root directory)
# to enable caching of templates and data
#==================
<strong>cache_path:</strong> 

#==================
# authenticate
# -----------------
# Provide a username and password pair to enable password-protection of the prototype
#==================
<strong>authenticate:
  username: 
  password:</strong>

#==================
# prefix
# -----------------
# The string to use when prefixing cookie names, classes etc.
#==================
<strong>prefix:</strong> prontotype-
  
#==================
# cookie_lifetime
# -----------------
# How long cookies set by prontotype should persist for.
#==================
<strong>cookie_lifetime:</strong> 604800 # 1 week

#==================
# triggers
# -----------------
# URL segments that trigger specific behaviour
#==================
<strong>triggers:</strong>
  <strong>login:</strong> _login
  <strong>logout:</strong> _logout
  <strong>data:</strong> _data
  <strong>assets:</strong> _assets
  <strong>shorturl:</strong> _p

#==================
# nice_names
# -----------------
# A few short text strings that should be used in auto-generated navigation macros
#==================
<strong>nice_names:</strong>
  <strong>index:</strong> Overview     # what to label the index pages as
  <strong>home: </strong>Home          # what to label the home page as

#==================
# data
# -----------------
# Tweak to match the style of different data files.
#==================
<strong>data:</strong>
  <strong>csv:</strong>
    <strong>headers:</strong> true
    <strong>delimiter:</strong> ','
    <strong>enclosure:</strong> '"'
    <strong>escape:</strong> '\'
    <strong>id_header:</strong> id
</code></pre>

<p>Note that deleting a setting from the <code>config.yml</code> file will cause it to revert to its default.</p>

</article>

<h1 id="cookbook">Cookbook</h1>

<article id="overriding-defaults">
	
	<h2>Overriding default system pages and macros</h2>
	
	<p>Prontotype uses a number of 'default' pages and layouts for use when it can't find the page you are looking for (or a mistake in your template causes a problem!). If you want to customise these pages to better match the style of your prototype, then you can easily override them by taking the following steps:</p>
	
	<ol>
		<li><strong>Copy</strong> (not move!) the <code>/app/views/PT</code> folder into your <code>/structure</code> directory.</li>
		<li>Edit the newly copied files that now live in <code>/structure/PT/pages</code> and <code>/structure/PT/layouts</code> to your liking.</li>
	</ol>
	
	<p>The pages and layouts that you'll find in there are listed below.</p>
	
	<h3>Pages</h3>
	
	<ul class="filetree">
		<li class="file"><strong>/pages/404.html</strong> - Displayed when a URL cannot be resolved to a page.</li>
		<li class="file"><strong>/pages/error.html</strong> - Displayed when an application or template error occurs.</li>
		<li class="file"><strong>/pages/authenticate.html</strong> - If requiring authentication to view your prototype, this is the form page that is shown for people to log in on. Obviously you need to preserve the form itself if you replace this file!</li>
	</ul>
	
	<h3>Layouts</h3>
	
	<ul class="filetree">
		<li class="file"><strong>/layouts/system.html</strong> - The layout that all the system pages inherit from by default.</li>
	</ul>
	
	<h3>Macros</h3>
	
	<p>You can also override the <a href="#macros">default macros</a> provided by Prontotype by editing the macro files that you have just copied into <code>/structure/PT/macros</code>. This can be useful if you want to amend the HTML output of these built-in macros, or change their behaviour to better suit your requirements. The available macros files are:</p>
	
	<ul class="filetree">
		<li class="file"><strong>/macros/assets.html</strong> - The <a href="#assets">asset helper</a> macros.</li>
		<li class="file"><strong>/macros/forms.html</strong> - The <a href="#forms">form builder</a> macros.</li>
		<li class="file"><strong>/macros/navigation.html</strong> - The <a href="#navigation">navigation generator</a> macros.</li>
	</ul>
	
</article>


<h1 id="tag-ref">Tag Reference</h1>

<article>
	<p>Documentation coming soon.</p>
</article>


