/* @group Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* @end Reset */

/* @group Base styles */

html {
    background: #F3F3F3 url('../img/bg_body.png') repeat-y -50px 0;
}

body {
    color: #444;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.4;
}

body > .wrapper {
    padding-left: 250px;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #E66F05;
}

h1 {
    margin-bottom: 15px;
	margin-top: 35px;
    position: relative;
	font-size: 28px;
	color: #333;
	font-weight: bold;
	border-top: 1px dashed #BBB;
	padding-top: 20px;
}

p {
    margin: 0 0 1em 0;
	line-height: 1.5;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

.note {
	color: #777;
	font-size: 13px;
	font-style: italic;
}

pre + .note {
	margin-top: -8px;
	margin-bottom: 20px;
}

/* @end Base styles */

/* @group Article styles */

article {
	background: #FFF;
	padding: 20px 25px 15px 25px;
	margin-bottom: 20px;
	border-bottom: 1px solid #DDD;
	border-right: 1px solid #DDD;
	overflow: hidden;
	border-radius: 4px;
}

article p:last-child {
	margin-bottom: 0;
}

article h2 {
    font-size: 20px;
    font-weight: normal;
	padding: 0.5em 11px;
    margin: -5px -10px 15px -10px;
	color: #222;
	background: #EEE;
	min-width: 35%;
	line-height: 1.0;
	border-bottom: 1px solid #DDD;
	border-right: 1px solid #DDD;
}

article h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0.8em;
	padding-bottom: 0.4em;
	border-bottom: 1px solid #DDD;
	margin-top: 1.2em;
}

article h4 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0.6em;
	margin-top: 1.0em;
	color: #444;
}

article h4 code {
	font-weight: normal;
	float: right;
	position: relative;
	top: -3px;
}

article h2 + p {
	font-size: 16px;
	line-height: 1.5;
	color: #444;
}

article .lede {
    font-size: 24px;
    color: #888;
}

article .lede em {
    font-style: normal;
    color: #555;
}

article li {
    margin-bottom: 4px;
    margin-left: 20px;
}

article ul,
article ol {
    margin-bottom: 1.5em;
}

/* @end article styles */

/* @start aside styles */

aside.panel {
	float: right;
	padding: 20px;
	width: 220px;
	background: #F3F3F3;
	border-top: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-radius: 5px;
	text-align: center;
	margin-left: 30px;
	margin-bottom: 10px;
}

aside.panel p {
	font-size: 0.90em;
	color: #666;
}

aside.panel p a {
	color: #666;
}

/* @end aside styles */

/* @group Buttons */

a.button,
button {
    display: inline-block;
    border: 0;
    font-family: sans-serif;
    padding: 10px 20px;
    background: #E66F05;
    color: #FFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 1.0em;
    border: 1px solid #d56400;
    box-shadow: 1px 1px 2px #CCC;
    background: #e88f00; /* Old browsers */
    background: -moz-linear-gradient(top, #e88f00 0%, #d56400 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e88f00), color-stop(100%,#d56400)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e88f00 0%,#d56400 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e88f00 0%,#d56400 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e88f00 0%,#d56400 100%); /* IE10+ */
    background: linear-gradient(top, #e88f00 0%,#d56400 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e88f00', endColorstr='#d56400',GradientType=0 ); /* IE6-9 */
    text-shadow: 1px 1px 1px #ba5700;
}

/* @end Buttons */

/* @group Messages */

.msg {
	background: #FFF;
	padding: 10px 25px 10px 25px;
	margin-bottom: 20px;
	border-bottom: 1px solid #DDD;
	border-right: 1px solid #DDD;	
}

.msg p:last-child {
    margin-bottom: 2px;
}

.msg.notice {
    
}

/* @end Messages */

/* @group Tables */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.5em;
}

td, th {
    border: 1px solid #DDD;
    background: #FFF;
    padding: 8px;
    text-align: left;
}

th {
    border: 1px solid #CCC;
    background: #DDD;
    color: #222;
}

td.key {
	font-weight: bold;
}

td.desc {
	color: #555;
	font-size: 13px;
}

td.default {
	color: #1b9186;
	text-align: center;
}

/* @end Tables */


/* @group Section heads */

#header {
    overflow: hidden;
    float: left;
    width: 250px;
	position: fixed;
    margin-left: -250px;
}

#header .inner {
    padding: 20px;
}

/* @end Section heads */

/* @group Navigation */

.nav {
    margin-left: 10px;
}

.nav li {
    margin-bottom: 12px;
    line-height: 1.2;
    list-style: none;
}

.nav a {
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    color: #EEE;
}

.nav a:hover {
    text-decoration: underline;
}

.nav li ul {
    padding: 10px 0 1px 0;
}

.nav li li {
    margin-bottom: 4px;
}

.nav li li a {
    font-size: 15px;
    color: #E66F05;
}

/* @end Navigation */

/* @group Header */

#header .branding {
    text-decoration: none;
    color: #EEE;
    font-size: 28px;
    display: inline-block;
    font-weight: bold;
	margin-bottom: 30px;
}

#header .head {
    padding: 13px 10px 0 10px;
}

/* @end Header */

/* @group Content */

#content {
    float: left;
    width: 100%;
	max-width: 1100px;
}

#content .inner {
    padding: 20px 20px;
}

/* @end Content */

/* @group Code */

code {
	font-family: "Lucida Console", "Monaco", monospace;
}
 
p code,
li code,
h4 code {
    background: #FFFEEB;
    font-family: monospace;
    font-size: 0.85em;
    color: #3B2300;
	border-bottom: 1px solid #E6E6B0;
	border-right: 1px solid #E6E6B0;
	display: inline-block;
	padding: 1px 4px;
}

pre code strong {
	color: #D623A2;
	font-weight: normal;
}

pre code {
	padding: 14px 20px 13px 20px;
	margin-bottom: 20px;
	display: block;
	color: #777;
	font-size: 13px;
	background: #FAfAfA;
	line-height: 18px;
	word-wrap: break-word;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;	 
}

code b {
	color: #333;
}

.comment {
	color: #888;
}

.meta {
	color: #f03200;
}

.support {
	color: #3399CC;
}

.string {
	color: #006600;
}

.support.attribute,
/*.support.tag-name,*/
.support.css-property,
.support.regex.modifier {
	color: #1E658A;
}

.support.value {
	color: #006600;
}

.integer, .constant {
	color: #d8fa3c;
}

.keyword, .selector {
	color: #fbde2d;
}

.regex.open, .regex.close, .constant.regex {
	color: #fff;
}

.constant.regex.escape {
	color: #d8fa3c;
}

/* @end Code */
