<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<script>var html = document.getElementsByTagName('html')[0]; html.className = html.className+' hasJS';</script>
	
	<link rel="stylesheet" href="/assets/css/main.css" media="all">
	
	<title>{{ page.title }} :: Prontotype :: Data-driven interactive prototyping framework</title>
</head>
<body>
	
<div class="wrapper">
	
	<div id="header" class="receptacle">
		
		<div class="inner">
			
			<div class="head">
				
				<a class="branding title" href="/"><span>Pronto</span>type</a>
				
			</div>

			<ul class="nav">
				<li><a href="/">Overview</a></li>
				<li><a href="/getting-started.html">Getting started</a></li>
				<li><a href="/structure.html">Structure</a>
					<ul>
						<li><a href="/structure.html#pages">Pages</a></li>
						<li><a href="/structure.html#includes">Includes</a></li>
						<li><a href="/structure.html#layouts">Layouts</a></li>
						<li><a href="/structure.html#macros">Macros</a></li>
					</ul>
				</li>
				<li><a href="/functionality.html">Functionality</a>
					<ul>
						<li><a href="/functionality.html#assets">Assets</a></li>
						<li><a href="/functionality.html#data">Providing Data</a></li>
						<li><a href="/functionality.html#users">Users &amp; Logins</a></li>
						<li><a href="/functionality.html#notes">Notes</a></li>
						<li><a href="/functionality.html#notes">PT Toolbar</a></li>
						<li><a href="/functionality.html#password">Authentication</a></li>
						<li><a href="/functionality.html#short-urls">Short URLs</a></li>
					</ul>
				</li>
				<li><a href="/configuration.html">Configuration</a></li>
				<li><a href="/tags.html">Macros Reference</a></li>
				<li><a href="/tags.html">Tag Reference</a></li>
				<li><a href="https://github.com/allmarkedup/prontotype/zipball/master">Download &darr;</a></li>
			</ul>
			
		</div>		

	</div>

	<div id="content" class="receptacle">
	
		<div class='inner'>
			
			{{ content }}
			
		</div>
		
	</div>
	
</div>

</body>	
</html>