<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<script>var html = document.getElementsByTagName('html')[0]; html.className = html.className+' hasJS';</script>
	
	<link rel="stylesheet" href="/assets/css/main.css" media="all">
	
	<title>Prontotype :: Data-driven interactive prototyping framework</title>
</head>
<body>
	
<div class="wrapper">
	
	<div id="header" class="receptacle">
		
		<div class="inner">
			
			<div class="head">
				
				<a class="branding title" href="/"><span>Pronto</span>type</a>
				
			</div>

			<ul class="nav">
				<li><a href="#overview">Overview</a></li>
				<li><a href="#getting-started">Getting started</a>
					<ul>
						<li><a href="#setup">Setup</a></li>
						<li><a href="#directory-structure">Directory Structure</a></li>
					</ul>
				</li>
				<li><a href="#structure">Structure</a>
					<ul>
						<li><a href="#pages">Pages</a></li>
						<li><a href="#layouts">Layouts</a></li>
						<li><a href="#includes">Includes</a></li>
					</ul>
				</li>
				<li><a href="#functionality">Functionality</a>
					<ul>
						<li><a href="#data">Working with Data</a></li>
						<li><a href="#assets">Assets</a></li>
						<li><a href="#macros">Macros</a></li>
						<li><a href="#users">Users &amp; Logins</a></li>
						<li><a href="#notes">Notes</a></li>
						<li><a href="#toolbar">PT Toolbar</a></li>
						<li><a href="#authentication">Password Protection</a></li>
						<li><a href="#short-urls">Short URLs</a></li>
					</ul>
				</li>
				<li><a href="#configuration">Configuration</a></li>
				<li><a href="#cookbook">Cookbook</a>
					<ul>
						<li><a href="#custom-routing">Custom Routing</a></li>
						<li><a href="#overriding-defaults">Overriding default pages</a></li>
					</ul>
				</li>
				<li><a href="#macro-ref">Macro Reference</a></li>
				<li><a href="#tag-ref">Tag Reference</a></li>
				<li><a href="https://github.com/allmarkedup/prontotype/zipball/master">Download &darr;</a></li>
			</ul>
			
		</div>		

	</div>

	<div id="content" class="receptacle">
	
		<div class='inner'>
			
			{{ content }}
			
		</div>
		
	</div>
	
</div>

<script src="/assets/js/rainbow.min.js"></script>
<script>Rainbow.color();</script>

</body>	
</html>