{% include header.html %}

	<div id="content" class="receptacle">
	
		<div class='section'>
			
			<div class="primary">
				
			{{ content }}
				
			</div>
			
			<div class="secondary">
				
				<ul class="nav sub">
					<a href="/docs/">Getting started</a>
					<a href="/docs/configuration.html">Configuration</a>
					<a href="/docs/data.html">Working with data</a>
					<a href="/docs/notes.html">Adding Notes</a>
					<a href="/docs/users.html">Users &amp; logins</a>
					<a href="/docs/tools.html">Additional Tools</a>
					<a href="/docs/template-tags.html">Template Tags</a>
					<a href="/docs/helpers.html">Helpers</a>
				</ul>
				
			</div>
			
		</div>
		
	</div>
	
{% include footer.html %}